<template>
    <div>
        <div class="question">    
            <h4>{{questionList[currentQuestion].question}}</h4>
        </div>
        <div class="buttons">
            <button v-on:click="handleAnswerQuestion('True')" class="animate__animated animate__pulse animate__infinite infinite">True</button>
            <button v-on:click="handleAnswerQuestion('False')" class="animate__animated animate__pulse animate__infinite infinite">False</button>
        </div>
    </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
     created(){

  },
  computed: {
      ...mapState(['questionList', 'currentQuestion', 'score'])
  },
    methods: {
      ...mapMutations(['setCurrentQuestion', 'increaseScore', 'addAnswer']),
      // Updates the current question and increments the current question counter - if there are no more questions - return to the result page.
      nextQuestion(){
        if(this.currentQuestion < this.questionList.length-1){ 
         this.setCurrentQuestion(this.currentQuestion + 1)
         }
         else {
             this.$router.push('/results')
         }
      },
      //Checks the answer submited by the user, and adds a record of it for the result page. If the answer is correct the score is increased.
      handleAnswerQuestion(answer){
          var questionAnswer = {
              question: this.questionList[this.currentQuestion].question,
              userAnswer: answer,
              correctAnswer: this.questionList[this.currentQuestion].correct_answer
          }
          
         this.addAnswer(questionAnswer);
         if(answer == this.questionList[this.currentQuestion].correct_answer){
              this.increaseScore(10);
          }
          this.nextQuestion();
      }
  },
}
</script>

<style>
</style>