<template>
    <div>
        <div class="question">    
            <h4>{{questionList[currentQuestion].question}}</h4>
        </div>
        <div class="buttons">
            <button v-on:click="handleAnswerQuestion(answerList[0])" class="animate__animated animate__pulse animate__infinite infinite">{{this.answerList[0]}}</button>
            <button v-on:click="handleAnswerQuestion(answerList[1])" class="animate__animated animate__pulse animate__infinite infinite">{{this.answerList[1]}}</button>
            <button v-on:click="handleAnswerQuestion(answerList[2])" class="animate__animated animate__pulse animate__infinite infinite">{{this.answerList[2]}}</button>
            <button v-on:click="handleAnswerQuestion(answerList[3])" class="animate__animated animate__pulse animate__infinite infinite">{{this.answerList[3]}}</button>
        </div>
    </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
    created(){
         this.answerList = [];
         this.updateAnswerList();
   },
  computed: {
      ...mapState(['questionList', 'currentQuestion', 'score'])
  },
  methods: {
      ...mapMutations(['setCurrentQuestion', 'increaseScore', 'addAnswer']),
      // Updates the current question and increments the current question counter - if there are no more questions - return to the result page.
      nextQuestion(){
        if(this.currentQuestion < this.questionList.length-1){ 
         this.setCurrentQuestion(this.currentQuestion + 1)
         this.updateAnswerList();
         }         
         else {
             this.$router.push('/results')
         }
      },
      //Collects all the answers for the question and randomizes them in the list.
      updateAnswerList(){
         this.answerList = [];
         this.answerList.push(this.questionList[this.currentQuestion].incorrect_answers[0]);
         this.answerList.push(this.questionList[this.currentQuestion].incorrect_answers[1]);
         this.answerList.push(this.questionList[this.currentQuestion].incorrect_answers[2]);
         this.answerList.push(this.questionList[this.currentQuestion].correct_answer);
         this.answerList.sort(() => Math.random() - Math.random() );
      },
      //Checks the answer submited by the user, and adds a record of it for the result page. If the answer is correct the score is increased.
      handleAnswerQuestion(answer){
          var questionAnswer = {
              question: this.questionList[this.currentQuestion].question,
              userAnswer: answer,
              correctAnswer: this.questionList[this.currentQuestion].correct_answer
          }
         this.addAnswer(questionAnswer);
         if(answer == this.questionList[this.currentQuestion].correct_answer){
              this.increaseScore(10);
          }
          this.nextQuestion();
      }
  },
  data(){
      return {
          answerList: [],
      }
  }
}
</script>

<style>
</style>