<template>
  <div>
  <MultipleAnswerQuestion v-if="getQuestionType == 'multiple'"/>
  <BooleanQuestion v-if="getQuestionType == 'boolean'"/>
  <h1 v-if ="getQuestionType == 'loading'">Loading ...</h1>
  </div>
 
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from 'vuex';
import MultipleAnswerQuestion from './MultipleAnswerQuestion';
import BooleanQuestion from './BooleanQuestion.vue';
//import {getQuestions} from '../utils/MockData.js';

export default {
  name: "QuestionsView",
  data() {
    return {
    }
  },
  components: {
    MultipleAnswerQuestion,
    BooleanQuestion,
  },
  computed: {
    ...mapState(['questionList', 'currentQuestion', 'apiParams']),
    ...mapGetters(['getQuestionType'])
  },
  // Fetch the questions from the API or MockData.
  created(){
    // API data
    this.$store.dispatch("getQuestionsFromApi")
    // Mock Data
 //   this.saveQuestions(getQuestions()); 
    
  },
  // Sets current question counter to 0, to show the first question in the list.
  beforeMount(){
    this.setCurrentQuestion(0);
  },
  methods: {
    ...mapMutations(['setCurrentQuestion', 'saveQuestions']),
    ...mapActions(['getQuestionsFromApi']),
  }
}
</script>

<style>
div {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #1a0747;
    height: 100vh;
    color:#fff;
}

.buttons {
    margin: auto 10%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1a0747;
    color:#fff;
    max-height: 10%;
}
.question {
  margin-top: 25%;
  display:flex;
  background: #1a0747;
  color:#fff;
  height: 5%;
  max-height: 5%;
  font-size: 40px;
  color: #ff0080;
  text-align:center;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
padding:0;
margin:0;
}

h1, h2 {
    margin:30px auto;
    padding:0;
    display: block;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 60px;
    background: -webkit-linear-gradient(22deg, #ff8800, #ff0080 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: #fff;
}



select {
    max-width:25%;
    margin:0 auto;
    padding: 15px 0;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
}

input {
    width:40%;
    margin:0 auto;
}
datalist {
    margin: 0 auto;
     justify-content: space-between;
     display: flex;
    width:40%;

}
button {
    min-width : 10%;
    margin: 10px 10px;
    background: #fff;
    border-radius: 20px;
    font-size: 15px; 
    font-weight: bold;
    padding: 15px;
    border:none;
}

button:hover {
    background: -webkit-linear-gradient(22deg, #ff8800, #ff0080 90%);
}


</style>
