<template>
<div>
    <h1>Score: {{this.score}}</h1>
            <table cellspacing="0">
                    <tr>
                        <td>
                            Question
                        </td>
                        <td>
                            Your answer
                        </td>
                        <td>
                            Correct Answer
                        </td>
                    </tr>
                    <tr v-for="answer in this.questionAnswer" :key="answer.id" :value="answer">
                        <td>
                            {{answer.question}}
                        </td>
                        <td>
                            {{answer.userAnswer}}
                        </td>
                        <td>
                            {{answer.correctAnswer}}
                        </td>
                    </tr>
            </table>
            <div class="buttons">
            <button v-on:click="replayGame()"><i class="fas fa-undo"></i> Replay</button>
            <button v-on:click="goToMainMenu()"><i class="fas fa-bars"></i> Main menu</button>
            </div>
</div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
export default {
    methods : {
        ...mapMutations(['resetApiParams','resetQuestionList','resetCurrentQuestion','resetScore','resetQuestionAnswer']),
        //Resets the game state and navigates back to the main menu.
        goToMainMenu(){
            this.resetApiParams();
            this.resetQuestionList();
            this.resetCurrentQuestion();
            this.resetScore();
            this.resetQuestionAnswer();
            this.$router.push('/');
        },
        // Resets the game state except for the API parameters and navigates back to the question views.
        replayGame(){
            this.resetQuestionList();
            this.resetCurrentQuestion();
            this.resetScore();
            this.resetQuestionAnswer();
            this.$router.push('/play');
        },
    },
    computed : {
        ...mapState(['score', 'questionAnswer']),
    },
}
</script>

<style>

    table {
        text-align: center;
        margin: auto 5%;
    }
    td {
        width: 40%;
        max-width: 40%;
        padding: 1%;
        
    }
    tr:nth-child(2n){
        background: -webkit-linear-gradient(22deg, #ff8800, #ff0080 90%);
    }
    
</style>