<template>
    <div>
        <h1> The Question Game </h1>
        <select v-model="selectedCategory">
            <option v-for="category in categoryList" :key="category.id" :value=category.id>
                {{category.name}}
            </option>
        </select>
        <h2>Number of questions:</h2>
        <input list="numberOfQuestions" type="range" min="1" max="10" step="1" class="questions-slide" v-model="numberOfQuestions">
        <datalist id="numberOfQuestions">
            <option value="1" label="1"></option>
            <option value="2" label="2"></option>
            <option value="3" label="3"></option>
            <option value="4" label="4"></option>
            <option value="5" label="5" ></option>
            <option value="6" label="6"></option>
            <option value="7" label="7"></option>
            <option value="8" label="8"></option>
            <option value="9" label="9"></option>
            <option value="10" label="10"></option>
        </datalist>
        <h2>Difficulty:</h2>
        <input type="range" min="1" max="3" step="1" class="difficulty-slide" v-model="selectedDifficulty">
        <datalist id="difficulty">
            <option value="1" label="Easy"></option>
            <option value="2" label="Medium"></option>
            <option value="3" label="Hard"></option>
        </datalist>
        <button v-on:click="startGame" class="animate__animated animate__pulse animate__infinite infinite"><i class="fas fa-play"></i> Play</button>
    </div>

</template>

<script>
// import {getCategories} from '../utils/MockData.js'
import { mapMutations, mapState } from 'vuex';
export default {
  name: "StartPage",
  props: {

  },
  data() {
      return {
          categories: {
              id: 0,
              name : ''
          },
          //Sets initial values for the sliders and the dropdown menu.
          selectedCategory: 9,
          numberOfQuestions: 5,
          selectedDifficulty: 2, 

      };
  },
computed: {
    ...mapState(['categoryList']),

  },
  methods: {
      ...mapMutations(['pushParams']),
      //Loads caregories from the API or the MockData.
      loadCategories(){
        //Loads categories from the API.
        this.$store.dispatch("getCategoriesFromApi");
        //Loads categories from the MockData.
        //this.categories = getCategories().trivia_categories;
      },
      // Stores the parameters into the state and navigates to QuestionsView.
      startGame() {
          let params = {
              selectedCategory: this.selectedCategory,
              numberOfQuestions: this.numberOfQuestions,
              selectedDifficulty:"",
          };
          if (this.selectedDifficulty == 1){
              params.selectedDifficulty="easy";
          } 
          else if (this.selectedDifficulty == 3){
              params.selectedDifficulty="hard";
          }
          else {
              params.selectedDifficulty="medium";
          }
       
          this.pushParams(params);

          this.$router.push("/play");
      }
  },
  created(){
       this.loadCategories();
  }
}
</script>

<style scoped>
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css");
div {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background: #1a0747;
    height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
padding:0;
margin:0;
}

div {
    color:#fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    margin:30px auto;
    padding:0;
    display: block;

}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 60px;
    background: -webkit-linear-gradient(22deg, #ff8800, #ff0080 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


h2 {
    color: #fff;
}



select {
    max-width:25%;
    margin:0 auto;
    padding: 15px 0;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
}

input {
    width:40%;
    margin:0 auto;
}
datalist {
    margin: 0 auto;
     justify-content: space-between;
     display: flex;
    width:40%;

}


button {
    width : 10%;
    margin: 40px auto;
    background: #fff;
    border-radius: 20px;
    font-size: 20px; 
    font-weight: bold;
    padding: 15px;
    border:none;
}

button:hover {
    background: -webkit-linear-gradient(22deg, #ff8800, #ff0080 90%);
}



input[type=range]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
background: -webkit-linear-gradient(22deg, #ff8800, #ff0080 90%);
  border: 0.2px solid #010101;
  width: 100%;
  height: 10.3px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(27, 112, 48) !important ;
    margin-top: -4px;
}


</style>